
<div class="login-form">
    <div class="text">
       REGISTER
    </div>
    <form action="/register" method="POST">
        <div class="field">
            <div class="fa-solid fa-circle-user"></div>
            <input type="text" placeholder="Name" name="name">
         </div>

       <div class="field">
          <div class="fas fa-envelope"></div>
          <input type="text" placeholder="Email address" name="email">
       </div>
       <div class="field">
          <div class="fas fa-lock"></div>
          
          <input type="password" placeholder="Password" required name="password">
       </div>
       <div class="reg"> 
        <button type="submit">Register</button>
    </div>
      
       <div class="link">
          Already user?
          <a href="/login">Login now</a>
       </div>
    </form>
 </div>
 